.summaryContainer {
    height: 632px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 64px;
    gap: 24px;
}


.clockAndDateDiv {
    width: 100%;
    color: #FFFFFF;
    font-family: var(--ff-s-mob);
    height: 150px;
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: var(--reg-blue);
    border-radius: 30px;
    padding: 24px 24px 24px 24px;
}

.lineClockAndDateDiv {
    height: 118px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}


.clockAndTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clockAndTaskNrDiv {
    display: flex;
    align-items: center;
}

.dateDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date {
    font-weight: var(--fw-700-mob);
    font-size: var(--fs-23px-mob);
}

.deadlineText {
    font-size: var(--fs-mail-mob);
}

.taskNrDiv {
    font-weight: var(--fw-700-mob);
    font-size: var(--fs-40px-mob);
}

.taskUrgentDiv {
    font-weight: var(--fw-reg-mob);
    font-size: var(--fs-reg-mob);
}



/******************************** Task To-do **************************************/

.tasksToDoDiv {
    font-family: var(--ff-reg-mob);
    width: 100%;
    height: 106px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: var(--light-blue);
    padding: 28px 28px 28px 28px;
}

.tasksToDoDivText {
    color: var(--reg-blue);
    font-weight: var(--fw-ss-mob);
    font-size: var(--fs-reg-mob);
}

.tasksToDoDivNr {
    font-weight: var(--fw-700-mob);
    font-size: var(--fs-48px-mob);
    padding-left: 20px;
    padding-right: 20px;
}

.tasksDiv {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.taskDiv {
    width: 180px;
    height: 152px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}