/*  ===============
     NORMALIZE 
    =============== */

:root {
    /* using-example:  color: var(--standard)*/

    /* --------- COLORS --------------*/
    --reg-blue: rgb(69, 137, 255);
    --mail-blue: rgb(173,203,255);
    --line-col:  rgb(209, 209, 209); 
    --user-orange: rgb(255, 122, 0);
    --user-lila: #9327FF;
    --user-blue: #6E52FF;
    --user-rose: #FC71FF;
    --user-yellow:#FFBB2B;
    --user-green: #1FD7C1;

    /*----------- FONT STYLES -----------*/
    /* regular font style for names in mobile*/
    --ff-reg-mob: "open-sans", sans-serif;
    --fw-reg-mob: 400;
    --fs-reg-mob: 19px;
    --lh-reg-mob: 22.8px;

    /* font style for small names and letters in mobile*/
    --ff-s-mob: "open-sans", sans-serif;
    --fw-s-mob: 400;
    --fs-s-mob: 18px;
    --lh-s-mob: 21.6px;
        
    /* font style for email  in mobile*/
    --ff-mail-mob: "open-sans", sans-serif;
    --fw-mail-mob: 400;
    --fs-mail-mob: 16px;
    --lh-mail-mob: 19.2px;

    /*short-name in contacts/mobile/name-box*/

    /*names in contacts/mobile/shorts and other font-style in inter*/
    --ff-inter: "inter-regular", sans-serif;
    --fw-inter: 400;
    --fs-inter: 12px;
    /*ATTENTION: not yet evaluated!*/
    --box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

/*  ================
    General Styling 
    ================ */


body {
    margin: 0;
    padding: 0;
}