body{
    flex-direction: column;
    padding: 32px;
    overflow: auto;
}

.logoDivHeaderMobile{
    width: 100%;
}

.formDiv {
    padding-top: 64px;
    display: flex;
    justify-content: center;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    gap: 21px;
    padding: 32px 0;
    box-shadow: 0px 0px 10px 3px rgba(0,0, 0, 0.08);
    border-radius: 32px;   
}

.loginHeadline {
    margin: 0;
}

.line-blue{
    margin-top: 12px;
    background-color: rgb(69,137,255);
    width: 60px;
    height: 2px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.loginInput{
    width: 90%;
    height: 25px;
    border: none;
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 24px;       
}

.loginInput::placeholder {
    opacity: 0.25;
}

.loginInput:focus-visible {
    outline: unset;
}

.line{
    margin-top: 4px;
    background-color: rgb(220, 220, 220);
    height: 1px;
    width: 100%;
}

.loginOptions{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.rememberMe{
    display: flex;
    width: 100%;
    gap: 16px;
    padding-bottom: 16px;
}

.loginBtn {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
}

.signupDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 16px;
}

.loginFooter{
    display: flex;
    justify-content: space-evenly;
    align-items:end;
    width: 100%;
    padding: 32px 0;
}

.loginFooter a{
    text-decoration: none;
    color: rgb(160, 168, 182);;
}

.btnBlue{
    background-color: rgb(69,137,255);
    color: white
}

.btnWhite{
    background-color: white;
    color: rgb(160, 168, 182);
    border: 2px solid rgb(160, 168, 182);
}

.btnTxtBlue{
    color: rgb(69,137,255);
    background-color: white;
    width: unset;
}
#rememberMe {
    accent-color: rgb(69,137,255);
}

@media(min-height: 800px) {
    .loginFooter{
        position: fixed;
        bottom: 32px;
    }
}