<div class="footerMenuContainer">

    <a href="../summary/summary.html">
        <button class="btnFooterMenu" id="btnSummaryFooterMenu">
            <img id="imgSummaryFooterMenu" src="../assets/img/summary_button_default.png" alt="summary menu button">
        </button>
    </a>

    <a href="../board/board.html">
        <button class="btnFooterMenu" id="btnBoardFooterMenu">
            <img id="imgBoardFooterMenu" src="../assets/img/board_button_default.png" alt="summary menu button">
        </button>
    </a>
    
    <a href="../add_task/add_task.html">
        <button class="btnFooterMenu" id="btnAddFooterMenu">
            <img id="imgAddFooterMenu" src="../assets/img/add_button_default.png" alt="summary menu button">
        </button>
    </a>
    
    <a href="../contacts/contact_list.html">
        <button class="btnFooterMenu" id="btnContactsFooterMenu">
            <img id="imgContactsFooterMenu" src="../assets/img/contacts_button_default.png" alt="summary menu button">
        </button>
    </a>
      
</div>