<div class="footerMenuContainer">

    <button class="btnSummaryFooterMenu" id="btnSummaryFooterMenu" onclick="showSummary()">
        <img id="imgSummaryFooterMenu" src="../assets/img/summary_button_footer_mobile.png" alt="summary menu button">
    </button>

    <button onclick="showBoard()">
        <img id="imgBoardFooterMenu" src="../assets/img/board_button_footer_mobile.png" alt="board menu button">
    </button>

    <button onclick="showAddTask()">
        <img id="imgAddTaskFooterMenu" src="../assets/img/add_task_default_btn_footer_mobile.png" alt="add task menu button">
    </button>

    <button onclick="showContacts()">
        <img id="imgContactsFooterMenu" src="../assets/img/contacts_button_footer_mobile.png" alt="contacts menu button">
    </button>
</div>