<nav>
  <div class="logoDivHeaderMobile">
    <img src="../assets/img/logo_mobile.png" alt="join logo" />
  </div>
  <div class="menuHelpNavContainer">
    <div class="toolNameNav">Kanban Project Management Tool</div>
    <div class="questionsNav" onclick="navigateToPage('help')">
      <img src="../assets/img/help.png" alt="help question sign" />
    </div>
    <div class="userNameDivOuter" id="userNameDivOuter">
      <div
        class="userNameDivInner"
        id="userNameDivInnerId"
        onclick="showSubmenuMobile()"
      >
        VT
      </div>
    </div>
  </div>
</nav>

<div class="submenuMobile" id="submenuMobile">
  <a class="helpAnchorSubMenuHeader" onclick="navigateToPage('help')">Help</a>
  <a onclick="navigateToPage('legal')">Legal notice</a>
  <a onclick="navigateToPage('policy')">Privacy Policy</a>
  <a>Log out</a>
</div>
