    <nav>
        <div class="logoDivHeaderMobile">
            <img src="../assets/img/logo_mobile.png" alt="join logo">
        </div>
        <div class="userNameDivOuter" id="userNameDivOuter">
            <div class="userNameDivInner" id="userNameDivInnerId" onclick="showSubmenuMobile()">
                VT
            </div>
        </div>
    </nav>
    
    <div class="submenuMobile" id="submenuMobile">
        <a>Help</a>
        <a>Legal notice</a>
        <a>Privacy Policy</a>
        <a>Log out</a>
    </div>
    


