<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="./assets/img/favicon.svg" type="image/svg" />
  <link rel="stylesheet" href="../contacts/contact_style.css" />
  <link rel="stylesheet" href="../styles/fonts.css" />
  <link rel="stylesheet" href="../styles/footer_mobile.css" />
  <link rel="stylesheet" href="../styles/header_mobile.css" />
  <link rel="stylesheet" href="../styles/info.css" />
  <link rel="stylesheet" href="../styles/main.css" />
  <link rel="stylesheet" href="../style.css" />
  <title>Imprint</title>
  <script src="../script.js"></script> 
</head>

<body>
  <div class="body-frame">
    <main class="main-login-area">
      <div class="main-frame info-text" id="imprintFrame">
        <div>
          <div class="info-header-login">
            <p>Imprint</p>
            <button class="back-btn" id="" onclick="historyBack()"><img src="../assets/img/arrow-left-line.svg"
                alt="back"></button>
          </div>
          <ul>
            <li>
              [Address of the JOIN operator - Lars Mensching, Karl-Kunger-Str.
              48]
            </li>
            <li>[12435, Berlin]</li>
          </ul>

          <br />
          <hr />
          <br />

          <h4 class="jblue">Exploring the Board</h4>
          Email: [larsLmensching.online]
          <h4 class="jblue">Acceptance of terms</h4>
          <p>
            By accessing and using Join (Product), you acknowledge and agree to
            the following terms and conditions, and any policies, guidelines, or
            amendments thereto that may be presented to you from time to time.
            We, the listed students, may update or change the terms and
            conditions from time to time without notice.
          </p>

          <br />
          <hr />
          <br />

          <h4 class="jblue">Scope and ownership of the product</h4>
          <p class="info-tex">
            Join has been developed as part of a student group project in a web
            development bootcamp at the Developer Akademie GmbH. It has an
            educational purpose and is not intended for extensive personal &
            business usage. As such, we cannot guarantee consistent
            availability, reliability, accuracy, or any other aspect of quality
            regarding this Product.
            <br />
            The design of Join is owned by the Developer Akademie GmbH.
            Unauthorized use, reproduction, modification, distribution, or
            replication of the design is strictly prohibited.
          </p>

          <br />
          <hr />
          <br />

          <h4 class="jblue">Proprietary rights</h4>
          <p>
            Aside from the design owned by Developer Akademie GmbH, we, the
            listed students, retain all proprietary rights in Join, including
            any associated copyrighted material, trademarks, and other
            proprietary information.
          </p>

          <br />
          <hr />
          <br />

          <h4 class="jblue">Use of the product</h4>
          <p>
            Join is intended to be used for lawful purposes only, in accordance
            with all applicable laws and regulations. Any use of Join for
            illegal activities, or to harass, harm, threaten, or intimidate
            another person, is strictly prohibited. You are solely responsible
            for your interactions with other users of Join.
          </p>

          <br />
          <hr />
          <br />

          <h4 class="jblue">
            Disclaimer of warranties and limitation of liability
          </h4>
          <p>
            Join is provided "as is" without warranty of any kind, whether
            express or implied, including but not limited to the implied
            warranties of merchantability, fitness for a particular purpose, and
            non-infringement. In no event will we, the listed students, or the
            Developer Akademie, be liable for any direct, indirect, incidental,
            special, consequential or exemplary damages, including but not
            limited to, damages for loss of profits, goodwill, use, data, or
            other intangible losses, even if we have been advised of the
            possibility of such damages, arising out of or in connection with
            the use or performance of Join.
          </p>

          <br />
          <hr />
          <br />

          <h4 class="jblue">Indemnity</h4>
          <p>
            You agree to indemnify, defend and hold harmless us, the listed
            students, the Developer Akademie, and our affiliates, partners,
            officers, directors, agents, and employees, from and against any
            claim, demand, loss, damage, cost, or liability (including
            reasonable legal fees) arising out of or relating to your use of
            Join and/or your breach of this Legal Notice.
          </p>

          <br />
          <hr />
          <br />

          <p>
            For any questions or notices, please contact us at
            [lars@mensching.online].
          </p>

          <p>Date: July 26, 2023</p>
        </div>
    </main>
  </div>
</body>

</html>