/*----------- help, privacy_policy, imprint --------------*/
.main-frame {
  height: auto;
  padding: 20px;
  overflow: auto;
}

/*.privacyPolicyWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.helpWrapperContainer {
  overflow: auto;
}*/
