/*----------- HELP --------------*/
.help-frame {
    height: auto;
    padding: 16px;
    font-family: var(--ff-ss-mob);
    font-size: var(--fs-ss-mob);
    font-weight: var(--fw-ss-mob);
    line-height: var(--lh-ss-mob);

}
