.d-none-welcome_message_html {
  display: none;
}

.welcomeMsgDiv {
  width: 80vw;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  transition: margin-bottom 1.5s ease;
}

.welcomeText {
  font-family: var(--ff-reg-mob);
  font-weight: var(--fw-reg-mob);
  color: var(--user-black-welcome-message);
}

.welcomeTextuserName {
  font-family: var(--ff-reg-mob);
  color: var(--user-blue-welcome-message-name);
}
